@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Graduate&family=Lunasima:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.luna {
  font-family: "Lunasima", sans-serif;
}
.exo {
  font-family: "Exo 2", sans-serif;
}
.graduate {
  font-family: "Graduate", serif;
}
